<h1> David Hathaway </h1>

<img src=https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSbhf-ZQ9nUn9SXStFTlA8dIbv7q5RC0JS-U9iOf7JizDqhho-3>

<!--
<img src="my-nice-photo.jpg" />
-->

<h2> I am a graduate student and a Systems Analyst/Program Manager wanna-be. </h2>

<p> I want to learn coding because it is a valuable skill and because I find it fascinating! </p>

<a href="https://twitter.com/DavidVHathaway"> My twitter! </a>

<a href=https://www.linkedin.com/in/davidvhathaway> My Linkedin! </a>

-->