<h1> Welcome to my Twitter profile! </h1>
<div class ="profile">
<h1> David Hathaway </h1>

<img src="Linkedin Pic BEST DSC04850 400x364.jpg" />

<h2> I am a graduate student and a Systems Analyst/Program Manager wanna-be. </h2>

<p> I want to learn coding because it is a valuable skill and because I find it fascinating! </p>
 </div>
<img src="http://placekitten.com/g/50/50" />
<a href="https://twitter.com/DavidVHathaway"> My twitter! </a><br>

<a href=https://www.linkedin.com/in/davidvhathaway> My Linkedin! </a>
