<h1> David Hathaway </h1>

<!--
    <img src="my-nice-photo.jpg" />
<h2> I am a college student and a Systems Analyst/Program Manager Wanna-be. </h2>
<p> I want to learn coding because it is a valuable skill and because I find it fascinating! </p>
<a href="https://twitter.com/DavidVHathaway"> My twitter! </a>
<a href=https://www.linkedin.com/in/davidvhathaway> My Linkedin! </a>

-->