<h1> David Hathaway </h1>
<img src="https://www.google.com/search?q=David+V.+Hathaway&es_sm=122&biw=964&bih=851&tbm=isch&imgil=XJ8KwZvPWYKVEM%253A%253Bhttps%253A%252F%252Fencrypted-tbn2.gstatic.com%252Fimages%253Fq%253Dtbn%253AANd9GcTjpAwWRnUo_A2Mx_nV5tQHN3tHLmqK_y_-4fhSEsXcY5N83KxNGQ%253B100%253B100%253BaZqQLHb7JHiqNM%253Bhttp%25253A%25252F%25252Fwww.linkedin.com%25252Fin%25252Fdavidvhathaway&source=iu&usg=__xpv3P9oXGdik8YW_-9EbtvD021o%3D&sa=X&ei=Sap-U4m7LsK0yASbloHYBw&ved=0CCkQ9QEwAA" />
<h2> I am a college student and a Systems Analyst/Program Manager Wanna-be. </h2>
<p> I want to learn coding because it is a valuable skill and because I find it fascinating! </p>
<a href="https://twitter.com/DavidVHathaway"> My twitter! </a>
<a href=https://www.linkedin.com/in/davidvhathaway> My Linkedin! </a>

