
.profile {
  background: lightgray;
  padding: 10px;
  margin: 10px;
  text-align: center;
 }

.profile h1 {
   font-size: 16px;
   text-transform: uppercase;
 }

 .profile img {
   width: 100px;
   height: 100px;
   border-radius: 50px;
 }

html { 
  background: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ3WpSTr5qxvH-b0sBFHvtvYXj1VZ9bsPrvr53rjFNU4X0c-VN2uQ') 
    no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
