
.profile {
  background: lightgray;
  padding: 10px;
  margin: 10px;
  text-align: center;
 }

.profile h1 {
   font-size: 16px;
   text-transform: uppercase;
 }

 .profile img {
   width: 100px;
   height: 100px;
   border-radius: 50px;
 }

html { 
  background: url('https://www.flickr.com/photos/87438460@N00/1209534560/in/photolist-bvxJWi-2QTbu9-9FtPRZ-ayEDcu-5oJqZ9-dfmTRk-bzprtF-6GjSwv-a369qE-4ugfBG-cs36p9-8W52tv-8qsjsM-8X6otJ-5ZHccr-2H2bWk-5mPFL1-56yumZ-6fT7zY-dme1Yo-eiTfEH-8UnbwF-aah5G3-9UPHCE-8rWpLp-8pZi9e-dkwBPu-a2iHsa-d77Hry-aMcyPk-9LdTaq-7YcPtP-7FPvRr-dQUK41-8w6JEj-4NryPP---7mdbqA-6u8Gnn-eoivQ5-2H5N57-7LYktP-6LNzZj-dkwBQU-rXE4x-h1hA6G-8HirFv-a3BVZh-bR2BTB/') 
    no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
