
.profile {
  background: lightgray;
  padding: 10px;
  margin: 10px;
  text-align: center;
 }

.profile h1 {
   font-size: 16px;
   text-transform: uppercase;
 }

 .profile img {
   width: 100px;
   height: 100px;
   border-radius: 50px;
 }

html { 
  background: url('http://ts2.mm.bing.net/th?&id=HN.608041634106641082&w=300&h=300&c=0&pid=1.9&rs=0&p=0') 
    no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
